@font-face {
    font-family: 'myfont';
    src: url('../font/Vazir-Light.woff2') format('woff2');
}
body{
    font-family: "myfont";
}
.bg-image{
    background-image: url("../img/ajit-singh-_6lUTo2UfMY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}
.icon-park-outline--shopping {
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none'%3E%3Cpath d='M39 32H13L8 12h36z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M3 6h3.5L8 12m0 0l5 20h26l5-20z'/%3E%3Ccircle cx='13' cy='39' r='3' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3Ccircle cx='39' cy='39' r='3' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
}
.text-mine{
    font-size: larger;
    font-weight: 500;
}
.lets-icons--search-alt {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Ccircle cx='11' cy='11' r='7'/%3E%3Cpath stroke-linecap='round' d='M11 8a3 3 0 0 0-3 3m12 9l-3-3'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  header{
    z-index: 2;
  }
.carousel-stationary{
  z-index: 1;
}
/* html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 81vh;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX();
    z-index: 2;
  }

  /* .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  } */

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX();
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  
  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #c4d4d4a8;
  color: black;
  text-align: center;
  transition: opacity 0.3s ease;
}
.containerr{
  position: relative;
  width: 100%;
  height: 60vh;
}
.hover-for-shopping{
  background-image: url("../img/stationary/pcc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 60vh;
  border-radius: 5px;
}
.containerr:hover .overlay{
  opacity: 1;
}
.containerr2{
  position: relative;
  width: 100%;
  height: 40vh;
}
.hover-for-shopping2{
  background-image: url("../img/stationary/bj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 40vh;
  border-radius: 5px;
}
.containerr2:hover .overlay{
  opacity: 1;
}
.containerr3{
  position: relative;
  width: 100%;
  height: 43vh;
}
.hover-for-shopping3{
  background-image: url("../img/stationary/washitape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 43vh;
  border-radius: 5px;
}
.containerr3:hover .overlay{
  opacity: 1;
}
.containerr4{
  position: relative;
  width: 100%;
  height: 45vh;
}
.hover-for-shopping4{
  background-image: url("../img/pen/kiran-ck-6rXpQzfCYlw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 45vh;
  border-radius: 5px;
}
.containerr4:hover .overlay{
  opacity: 1;
}
.containerr5{
  position: relative;
  width: 100%;
  height: 67vh;
}
.hover-for-shopping5{
  background-image: url("../img/stationary/pens.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 67vh;
  border-radius: 5px;
}
.containerr5:hover .overlay{
  opacity: 1;
}
.containerr6{
  position: relative;
  width: 100%;
  height: 32vh;
}
.hover-for-shopping6{
  background-image: url("../img/stationary/pencilcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 32vh;
  border-radius: 5px;
}
.containerr6:hover .overlay{
  opacity: 1;
}
.containerr7{
  position: relative;
  width: 100%;
  height: 66vh;
}
.hover-for-shopping7{
  background-image: url("../img/stationary/bujo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 66vh;
  border-radius: 5px;
}
.containerr7:hover .overlay{
  opacity: 1;
}
.containerr8{
  position: relative;
  width: 100%;
  height: 36vh;
}
.hover-for-shopping8{
  background-image: url("../img/pen/florian-klauer-DUOTbkFqvFw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 36vh;
  border-radius: 5px;
}
.containerr8:hover .overlay{
  opacity: 1;
}
.containerr9{
  position: relative;
  width: 100%;
  height: 42vh;
}
.hover-for-shopping9{
  background-image: url("../img/stationary/washiiii.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 42vh;
  border-radius: 5px;
}
.containerr9:hover .overlay{
  opacity: 1;
}
.containerr10{
  position: relative;
  width: 100%;
  height: 34vh;
}
.hover-for-shopping10{
  background-image: url("../img/stationary/klim-musalimov-1r0aLUYxUH0-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 34vh;
  border-radius: 5px;
}
.containerr10:hover .overlay{
  opacity: 1;
}
.containerr11{
  position: relative;
  width: 100%;
  height: 79vh;
}
.hover-for-shopping11{
  background-image: url("../img/pen/glen-carrie-4EQAZWrzCJc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 79vh;
  border-radius: 5px;
}
.containerr11:hover .overlay{
  opacity: 1;
}

.containerrb{
  position: relative;
  width: 100%;
  height: 62vh;
}
.hover-for-shoppingb{
  background-image: url("../img/books/best-year-yet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 62vh;
  border-radius: 5px;
}
.containerrb:hover .overlay{
  opacity: 1;
}
.containerr2b{
  position: relative;
  width: 100%;
  height: 43vh;
}
.hover-for-shopping2b{
  background-image: url("../img/books/anxiety-solution.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 43vh;
  border-radius: 5px;
}
.containerr2b:hover .overlay{
  opacity: 1;
}
.containerr3b{
  position: relative;
  width: 100%;
  height: 43vh;
}
.hover-for-shopping3b{
  background-image: url("../img/books/good-guide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 43vh;
  border-radius: 5px;
}
.containerr3b:hover .overlay{
  opacity: 1;
}
.containerr4b{
  position: relative;
  width: 100%;
  height: 47vh;
}
.hover-for-shopping4b{
  background-image: url("../img/books/how-to-not-always-be-working.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 47vh;
  border-radius: 5px;
}
.containerr4b:hover .overlay{
  opacity: 1;
}
.containerr5b{
  position: relative;
  width: 100%;
  height: 67vh;
}
.hover-for-shopping5b{
  background-image: url("../img/books/do-it-for-yourself.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 67vh;
  border-radius: 5px;
}
.containerr5b:hover .overlay{
  opacity: 1;
}
.containerr6b{
  position: relative;
  width: 100%;
  height: 34vh;
}
.hover-for-shopping6b{
  background-image: url("../img/books/one-line-a-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 34vh;
  border-radius: 5px;
}
.containerr6b:hover .overlay{
  opacity: 1;
}
.containerr7b{
  position: relative;
  width: 100%;
  height: 66vh;
}
.hover-for-shopping7b{
  background-image: url("../img/books/i-am-hero-of-my-own-life.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 66vh;
  border-radius: 5px;
}
.containerr7b:hover .overlay{
  opacity: 1;
}
.containerr8b{
  position: relative;
  width: 100%;
  height: 38vh;
}
.hover-for-shopping8b{
  background-image: url("../img/books/practice-you.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 38vh;
  border-radius: 5px;
}
.containerr8b:hover .overlay{
  opacity: 1;
}
.containerr9b{
  position: relative;
  width: 100%;
  height: 44vh;
}
.hover-for-shopping9b{
  background-image: url("../img/books/the-power-of-habit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 44vh;
  border-radius: 5px;
}
.containerr9b:hover .overlay{
  opacity: 1;
}
.containerr10b{
  position: relative;
  width: 100%;
  height: 34vh;
}
.hover-for-shopping10b{
  background-image: url("../img/books/you-have-nice-ideas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 34vh;
  border-radius: 5px;
}
.containerr10b:hover .overlay{
  opacity: 1;
}
.containerr11b{
  position: relative;
  width: 100%;
  height: 79vh;
}
.hover-for-shopping11b{
  background-image: url("../img/books/what-not-to-say.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  height: 79vh;
  border-radius: 5px;
}
.containerr11b:hover .overlay{
  opacity: 1;
}